// =============================================================================
// MIXIN - TEXT ELLIPSIS
// =============================================================================

@mixin text-ellipsis($display:true) {
    @if $display {
        display: block;
    }

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// end MIXIN - TEXT ELLIPSIS
