/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@mixin rollIn($has-class: false) {

    @keyframes rollIn {
        from {
            opacity: 0;
            transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @if $has-class {
        .rollIn {
            animation-name: rollIn;
        }
    }
}
