@mixin slideInRight($has-class: false) {

    @keyframes slideInRight {
        from {
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    @if $has-class {
        .slideInRight {
            animation-name: slideInRight;
        }
    }
}
