<footer class="footer">
    <div class="container">
        <a href="" class="footer__logo">
            {% include "icons/logo.svg" %}
        </a>
        <div class="copyright-block">
            <div class="copyright">COPYRIGHT 2019</div>
            <div class="powered">Powered by <a href="https://astwellsoft.com" target="_blank">Astwellsoft</a></div>
        </div>
        <a href="" class="footer__facebook-link" target="_blank">
            <img src="img/facebook-green.png" alt="">
        </a>
    </div>
</footer>