<!-- Menu -->
<ul class="menu" id="menu">
    <li class="menu__item">
        <a class="menu__link {% if page.body_class == 'clinic-page' %} menu__link--active {% endif %}" href="index.html">For Clinic</a>
    </li>

    <li class="menu__item">
        <a class="menu__link {% if page.body_class == 'solo-page' %} menu__link--active {% endif %}" href="solo.html">For Solo Practice</a>
    </li>

    <li class="menu__item">
        <a class="menu__link {% if page.body_class == 'patient-page' %} menu__link--active {% endif %}" href="patient.html">For Patient</a>
    </li>
</ul>
<!-- end Menu -->
