@mixin flash($has-class: false) {

    @keyframes flash {
        from, 50%, to {
            opacity: 1;
        }

        25%, 75% {
            opacity: 0;
        }
    }

    @if $has-class {
        .flash {
            animation-name: flash;
        }
    }
}
