.section-free {
    padding: 70px 0 100px;
    text-align: center;

    @media (min-width: $bp-lp) {
        padding: 193px 0 270px;
    }

    .container {
        display: none;

        @media (min-width: $bp-lp) {
            display: block;
        }

        &.mobile {
            display: block;

            .link-group {
                margin-bottom: 15px;
            }

            @media (min-width: $bp-lp) {
                display: none;
            }
        }
    }


    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 40px;

        @media (min-width: $bp-lp) {
            margin-bottom: 50px;
        }
    }

    .link-group {
        a {
            display: inline-block;
            font-size: 16px;
            line-height: 1.25;
            margin: 0 15px;
            padding: 14px 20px;
            color: color(white);
            background-color: color(orange);
            border: 1px solid color(orange);
            border-radius: 10px;
            transition: color .3s ease-in-out, background-color .3s ease-in-out;

            &:hover {
                color: color(orange);
                background-color: color(white);
            }

            &.border {
                color: color(orange);
                background-color: color(white);

                &:hover {
                    color: color(white);
                    background-color: color(orange);
                }
            }
        }
    }

}