.section-care {
    .container {
        padding-top: 40px;
        padding-bottom: 35px;

        @media (min-width: $bp-lg) {
            padding-top: 50px;
            padding-bottom: 105px;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;

        @media (min-width: $bp-tb) {
            height: 40vh;
        }

        @media (min-width: $bp-lp) {
            position: absolute;
            left: 50%;
            top: 0;
            width: 50vw;
            max-width: 640px;
            height: 100%;
        }
    }

    &__list {
        margin: 0 0 20px;
        padding: 0;

        @media (min-width: $bp-lp) {
            max-width: 50%;
        }

        @media (min-width: $bp-lg) {
            max-width: 50%;
        }

        li {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            img {
                margin-right: 15px;
            }
        }
    }
    
    h1 {
        margin-bottom: 0;

        @media (min-width: $bp-lp) {
            max-width: 50%;
        }

        @media (min-width: $bp-cont) {
            max-width: none;
            margin-bottom: 13px;
        }
    }

    h1 + p {
        font-size: 16px;
        margin: 0 0 30px;

        @media (min-width: $bp-lp) {
            font-size: inherit;
            max-width: 50%;
            margin: 0 0 40px;
        }

        @media (min-width: $bp-lg) {
            max-width: 450px;
        }
    }

    .small-txt {
        margin-top: 20px;
    }


}