<section class="section section-free {% if section_free_data.class %}{{ section_free_data.class }}{% endif %}">
    <div class="container">
        <h2>{{ section_free_data.title }}</h2>

        <p>{{ section_free_data.description}}</p>
        <div class="link-group">
            {% for btn in section_free_data.buttons %}
                <a href="#" class="{% if btn.class %}{{ btn.class }}{% endif %}">{{btn.title}}</a>
            {% endfor %}
        </div>
        {% if section_free_data.small_text %}
             <p class="small-txt">{{ section_free_data.small_text}}</p>
        {% endif %}
    </div>
</section>