<div class="section section--grey section-video">
    <div class="container">
        <h2>Less Efforts for More Results</h2>

        <p>
            Become a part of caring cycle and may
            the synergy be with you &#128155;
        </p>

        <div class="block-wrapp">
            <div class="block block--orange">
                {% include "icons/video/video-icon1.svg" %}
                Regular Appointment
            </div>
            <div class="block block--blue">
                {% include "icons/video/video-icon2.svg" %}
                Online Appointment
            </div>
            <div class="block block--yellow">
                {% include "icons/video/video-icon3.svg" %}
                Doctor’s Home Visit
            </div>
        </div>

        <div class="video" data-video-id="668nUCeBHyY" id="player">
            <button class="play-btn">
                Watch the Demo
                {% include "icons/arrow-right.svg" %}

            </button>

        </div>
    </div>
</div>