@mixin fadeIn($has-class: false) {

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @if $has-class {
        .fadeIn {
            animation-name: fadeIn;
        }
    }
}
