@mixin fadeInLeft($has-class: false) {

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @if $has-class {
        .fadeInLeft {
            animation-name: fadeInLeft;
        }
    }
}
