// =============================================================================
// FORM
// =============================================================================

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $bp-lp) {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        &>* {
            margin: 0 5px 10px;
        }
    }

    @media (min-width: $bp-cont) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .calendar-wrapp {
        position: relative;
    }
}

// end FORM



// =============================================================================
// INPUT
// =============================================================================

.input {
    position: relative;
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 12px 10px 12px 45px;
    background-color: color(white);
    background-repeat: no-repeat;
    background-position: 15px 14px;
    border: 1px solid #D7DBDA;
    border-radius: 10px;
    outline: none;
    box-shadow: none;

    color: color(dark);
    font-size: 16px;

    transition: border-color .3s ease;
    appearance: none;

    @media (max-width: $bp-lp - 1) {
        max-width: none !important;
        margin-bottom: 20px;
    }

        // placeholder
    @include placeholder-content {
        color: color(text_grey);
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;

    }

    // focus
    &:hover,
    &:focus {
        border-color: color(orange);
    }

    &:focus {
        @include placeholder-content {
            opacity: 0;
        }
    }

    &--search {
        max-width: 350px;
        background-image: url("../img/input/input-search.png");
        background-position: 15px 12px;
    }

    &--calendar {
        max-width: 245px;
        margin-right: 0;
        background-image: url("../img/input/input-calendar.png");
    }

    &--city {
        max-width: 220px;
        background-image: url("../img/input/input-city.png");
    }

    &--clinic {
        max-width: 240px;
        background-image: url("../img/input/input-clinic.png");
    }
}

// end INPUT

// =============================================================================
// BTN SUBMIT
// =============================================================================

.btn-find {
    width: 100%;
    height: 48px;
    color: color(white);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 0 20px;
    background-color: color(orange);
    border: 2px solid color(orange);
    border-radius: 10px;
    transition: border-color .3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;

    @media (min-width: $bp-tb) {
        width: auto;
        font-size: 16px;
    }

    &:hover {
        border-color: color(dark);
        background-color: color(dark);
    }
}

.btn-date {
    position: absolute;
    top: 9px;
    right: 11px;
    color: #3F414D;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    background-color: color(grey);
    border: 1px solid color(grey);
    border-radius: 10px;
    transition: border-color .3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        border-color: color(orange);
        background-color: color(orange);
    }
}


// end BTN SUBMIT