//=============================================================================
// SECTION
// ============================================================================
.section {
    position: relative;
    background-color: color(white);

    &--grey {
        background-color: color(grey);
    }




}

// end SECTION
