.footer {
    padding: 17px 0;

    @media (min-width: $bp-lg) {
        padding: 20px 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 59px;
        height: 45px;

        svg {
            width: 100%;
            height: auto;
        }

        @media (min-width: $bp-lg){
            width: 73px;
            height: 56px;
        }
    }

    .copyright-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        .copyright {
            color: color(dark);
            font-size: 9px;
            font-weight: 400;
            letter-spacing: 0.82px;
            text-transform: uppercase;
            margin-bottom: 4px;

            @media (min-width: $bp-lg) {
                font-size: 11px;
                letter-spacing: 1px;
            }
        }

        .powered {
            font-size: 9px;
            font-weight: 400;
            letter-spacing: 0.82px;

            @media (min-width: $bp-lg) {
                font-size: 11px;
                letter-spacing: 1px;
            }

            a {
                letter-spacing: 0.74px;
                font-weight: 700;
                text-decoration: underline;
                transition: color .3s ease-in-out;

                &:hover {
                    color: color(green);
                }

                @media (max-width: $bp-lg - 1) {
                    position: relative;
                    text-decoration: none;
                    color: color(blue);

                    &:before {
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: -2px;
                        height: 1px;
                        width: 100%;
                        background-color: color(blue);
                    }
                }
            }
        }
    }

    &__facebook-link {
        width: 45px;
        height: 45px;

        img {
            object-fit: contain;
        }

        @media (min-width: $bp-lg){
            width: 56px;
            height: 56px;
        }
    }
}