// =============================================================================
// GLOBAL LAYOUT
// =============================================================================

html {
    background-color: #ffffff;
    color: color(dark);
    font-family: $muli;
    margin: 0;
    padding: 0;
}

body {
    min-width: 360px;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    width: 100%;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $bp-cont) {
        padding: 0;
    }
}

.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

// Main
.main {
    overflow: hidden;
}

* {
    outline: 1px solid transparent;
}

.flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.rel {
    position: relative;
}


.logo {
    position: relative;
    display: inline-block;
    margin-bottom: 38px;
    z-index: z-index(nav) + 1;

    @media (min-width: $bp-lp) {
        margin-bottom: 60px;
    }

    &--mb65 {
        margin-bottom: 65px;
    }
}

.link-group {
    a {
        display: inline-block;
        font-size: 16px;
        line-height: 1.25;
        margin: 0 15px;
        padding: 14px 20px;
        color: color(white);
        background-color: color(orange);
        border: 1px solid color(orange);
        border-radius: 10px;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;

        &:hover {
            color: color(orange);
            background-color: color(white);
        }

        &.border {
            color: color(orange);
            background-color: color(white);

            &:hover {
                color: color(white);
                background-color: color(orange);
            }
        }

        &.m0 {
            margin: 0;
        }
    }
}

.small-txt {
    display: inline-block;
    margin-top: 15px;
}





// end GLOBAL LAYOUT
