{% extends "_tpl.html" %}

{% set page = {
    'title': 'For Clinic',
    'body_class': 'clinic-page'
} %}

{% block head %}
    <link rel="stylesheet" href="css/clinic.css">
{% endblock %}


{% block main_content %}
<!--    {% include "sections/_section-preview.html" %}-->
<!--    {% include "sections/_section-consultation.html" %}-->
<!--    {% include "sections/_section-clinic.html" %}-->
<!--    {% include "sections/_section-request.html" %}-->
<!--    {% include "sections/_section-keeps-data.html" %}-->

<!--    {% include "sections/_section-preview.html" %}-->

{% endblock %}


{% block scripts %}
    <script src="../js/clinic.min.js"></script>
{% endblock %}








