{% extends "_tpl.html" %}

{% set page = {
    'title': 'For Solo Practice',
    'body_class': 'solo-page'
} %}

{% block head %}
    <link rel="stylesheet" href="css/solo.css">
{% endblock %}


{% block main_content %}
    {% include "sections/_section-preview.html" %}
    {% include "sections/_section-consultation.html" %}
    {% include "sections/_section-clinic.html" %}
    {% include "sections/_section-request.html" %}
    {% include "sections/_section-keeps-data.html" %}

<!--    {% include "sections/_section-preview.html" %}-->

{% endblock %}


{% block scripts %}
    <script src="../js/solo.min.js"></script>
{% endblock %}








